<button class="btn btn-outline-secondary" onclick="viewDashboard('/views/dashboard')">Dashboard</button>
<h2>Login</h2>
<form id="loginForm">
    <input type="text" id="email" placeholder="Digite su Usuario" required>
    <input type="password" id="password" placeholder="Contraseña" required>
    <button type="submit">Iniciar Sesión</button>
</form>

<h3 id="status"></h3>

<h2>Obtener Perfil</h2>
<button id="getProfile">Ver Perfil</button>
<button onclick="cerrarSesion()">Salir</button>
