<nav>
    <a href="/" onclick="navigate(event, '/')">Inicio</a>
    <a href="/about" onclick="navigate(event, '/dashboard')">Inicio</a>
    <a href="/contact" onclick="navigate(event, '/contact')">Contacto</a>
</nav>